<div id="main">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fas fa-book mr-3"></i>StoryBook</a>
    <h5><i class="fas fa-user-circle mr-2"></i>{{user.firstName}}</h5>
  </nav>
  <main>
    <div class="expand-btn" (click)="expandMenu()">
      <i class="fas fa-chevron-right"></i>
    </div>
    <aside class="sidebar p-3" #menu>
      <span class="icon abs-r p-3" *ngIf="isScreenSmall()" (click)="expandMenu()">
        <i class="fas fa-times"></i>
      </span>
      <ul class="menu-list">
        <li class="menu-item" routerLinkActive="is-active" (click)="closeMenu()"><a routerLink="./create-story"><i
              class="fas fa-archive mr-2"></i>New Story</a></li>
        <li class="menu-item" routerLinkActive="is-active" (click)="closeMenu()"><a routerLink="./stories-list"><i
              class="fas fa-th-list mr-2"></i>Stories</a></li>
        <li class="menu-item" (click)="logout()"><a><i class="fas fa-sign-out-alt mr-2"></i>LogOut</a></li>
      </ul>
    </aside>
    <section class="p-3">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
